<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <style>
        .container{
            background-color: green;
            max-width: 200px;
            width: 95%;
            margin: 10px 0px 0px auto;
        }
        body {
                background-color: rgba(28, 101, 185, 0.45);
                min-height: 100vh;
                padding-top: 3.25rem;
            }

        .card{
            width: 95%;
            margin: 5px 10px 5px 10px;
        }
    </style>
    <script>
        $(document).ready(function () {
            show_list()
        });


    </script>
</head>
<body>
    <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='logo.png') }}">
                <strong class="is-sparta"
                        style="font-family: 'Stylish', sans-serif;font-size: 2rem;">HowTo</strong>
            </a>
        </div>
    </nav>
    <div class="container">
        <form action="/beforeSC" method="POST">
{#                <div class="form-floating col-sm-5">#}
                    <input type="text" class="form-control " id="date" placeholder="ex)0516" name="id">
            {#                </div>#}
            <button type="submit" class="btn btn-primary" id="search">search</button>
        </form>
    </div>

    <div class="card-group">
        <div class="card">
            <div class="card-body">
                {% if firSchedule %}
{#                    카드 제목#}
                    <h5 class="card-title">{{ firSchedule[0]["date"] }}</h5>
                {% endif %}
                <p class="card-text">
                <div class="schedule">
                    {% if firSchedule %}
                        {% for schedule in firSchedule %}
                            {% set time = schedule["time"] %}
                            {% set sc = schedule["schedule"] %}
                            {% set emoticon = schedule["emoticon"] %}
                            {% set comment = schedule["schedule"] %}
{#                            카드 내용 입력#}
                            <li>{{ time[:2] }}:{{ time[2:] }} : {{ sc }}</li>
                            {% if (emoticon != "") and (emoticon != "--선택하기--")%}
                                {{ emoticon }}
                            {% endif %}
                            {% if comment != "" %}
                                {{ comment }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
{#                        데이터 없을 시#}
                        <h2>no data</h2>
                    {% endif %}
                </div>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                {% if secSchedule %}
                    <h5 class="card-title">{{ secSchedule[0]["date"] }}</h5>
                {% endif %}
                <p class="card-text">
                <div class="schedule">
                    {% if secSchedule %}
                        {% for schedule in secSchedule %}
                            {% set time = schedule["time"] %}
                            {% set sc = schedule["schedule"] %}
                            {% set emoticon = schedule["emoticon"] %}
                            {% set comment = schedule["schedule"] %}
{#                            카드 내용 입력#}
                            <li>{{ time[:2] }}:{{ time[2:] }} : {{ sc }}</li>
                            {% if (emoticon != "") and (emoticon != "--선택하기--")%}
                                {{ emoticon }}
                            {% endif %}
                            {% if comment != "" %}
                                {{ comment }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h2>no data</h2>
                    {% endif %}
                </div>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                {% if thrSchedule %}
                    <h5 class="card-title">{{ thrSchedule[0]["date"] }}</h5>
                {% endif %}
                <p class="card-text">
                <div class="schedule">
                    {% if thrSchedule %}
                        {% for schedule in thrSchedule %}
                            {% set time = schedule["time"] %}
                            {% set sc = schedule["schedule"] %}
                            {% set emoticon = schedule["emoticon"] %}
                            {% set comment = schedule["schedule"] %}
{#                            카드 내용 입력#}
                            <li>{{ time[:2] }}:{{ time[2:] }} : {{ sc }}</li>
                            {% if (emoticon != "") and (emoticon != "--선택하기--")%}
                                {{ emoticon }}
                            {% endif %}
                            {% if comment != "" %}
                                {{ comment }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h2>no data</h2>
                    {% endif %}
                </div>
                </p>
            </div>
        </div>
    </div>
</body>
</html>